footer{
    color: #444444;
    font-size: xx-small;
    border-top: 1px solid #888888;/*页面一样大小的下划线*/
    padding-top: 8px;
    margin-top: 30px;
    text-align: center;
    line-height: normal;
    background: #333333;
    clear: both;
}
