form{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    line-height: 1.5em;
    display: table;
    padding: 10px;
    border: thin dotted #7e7e7e;
    background-color: #e1ceb8;
    margin-left: 25%;
}
div.tabrow{
    display: table-row;
}
form p{
    display: table-cell;
    vertical-align: top;
    padding: 3px;
}
/*字段右对齐 观赏性更好*/
form p:first-child,form legend:first-child{
    text-align: right;
}
