@font-face{
    font-family: "Emblema One";
    src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"),
          url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf");
}/*定义网络上的字体*/


body{
    background-color:#d2b48c;
    margin-left:15%;
    margin-right: 15%;
    border: 2px dotted black;
    padding:5px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;/*统一父元素的字体*/

}
/*
p{
    color: maroon;
}*/
h1,h2{
    font-family: 'Times New Roman', Times, serif;
    color:#007e7e;
    
}
h2{
    font-size: 130%;
}
h1{
    border-bottom: 1px solid #888888;/*页面一样大小的下划线*/
    font-family: "Emblema One",'Times New Roman', Times, serif;
    font-size: 150%;
}
/*
p.Dva{
    color: pink;
}
p.olisha{
    color: green;
}*/
blockquote{
    font-style: italic;/*斜体*/
    line-height: 1.6em;/*行高*/
}

.heroes{
    border-color:black;
    color: #444444;
    border-width: 3px;
    border-style: dashed;/*边框样式 破折线*/
    border-radius: 15px;/*边框圆角*/
    border-color: #d2b48c;
    background-color: #a7cece;
    padding: 25px; /*内边距*/
    /*padding-left: 80px;/*注意顺序，如果和上一行交换左边的内边距会被覆盖*/
    margin: 30px;/*外边距*/
    /*margin-right: 30px;
    background-image: url(image/background.gif);/*设置背景图
    background-repeat: no-repeat;/*设置背景图重复方式
    background-position: top left;/*设置背景图位置*/
}

.topplayer{
    font-style: italic;
}
.playid{
    font-weight: bold;
}
#upper{
    margin-top: 30px;
    border-top: 1px solid #444444;
}
a:link{
    color: #007e7e;
}
a:visited{
    color: #444444;
}
a:hover{
    color: blue;
}
/*固定在固定位置的票******/
#ticket{
    position: fixed;
    top: 50%;
    left: -1200px;
}
#ticket a,img{
    border: none;
}
/*********固定定位*/
/*导航的表现**********/
nav.topnav ul{
    background: #efe5d0;
    margin: 10px 0px 10px 0px;
    list-style-type: none; /*删除列表符号*/
    padding: 5px 0px 5px 0px;
}
nav.topnav ul li{
    display: inline;/*列表显示项改为内联元素*/
    padding: 5px 10px;
}
nav.topnav ul li a:link,nav.topnav ul li a:visited{
    color: #954b4b;
    border-bottom: none;
    font-weight: bold;
}
nav.topnav ul li.selected{
    background-color: #c8b99c;
}
/***********导航的表现*/
/*表格的表现***********/
table{
    margin-left: 5px;
    margin-right: 5px;
    border: thin solid black; /*整个表格的黑细边框*/
    caption-side: bottom;/*把标题移动到表格下方*/
    border-spacing: 1px 0px;/*单元格垂直与水平的边框间距*/
    text-align: center;/*单元格水平对齐方式*/
}
td,th{
    border: thin dotted gray;/*内单元格边框*/
    padding: 2px;/*单元格内边距*/
}

/*标题背景色*/
th{
    background-color: #c60;
}

/*隔行背景色*/
/*tr.cellcolor{
    background-color: #fcba7a;
}*/
/*用伪类隔行设置背景色更方便*/
tr:nth-child(2n+1){
    background-color: #fcba7a;
}

/*表格标题的表现*/
caption{
    font-style: italic;
    padding-top: 5px;
}

/*嵌套表格的表现*/
table table th,table table td{
    background-color:#d2b48c;
}
/***********表格的表现*/